<html lang="en">
<head>

    <Title>Cancel</title>

    <link rel="stylesheet" href="/css/register.css">
   
    <link rel="shortcut icon" href="/favicon.png" >

</head>

<body>

    <div class="row">
				  
        <form method="post" action="/users/cancel">
            <h1>Canceling the booking</h1>
            <input name="id" type="text" placeholder="Room Number" required />
            <input name="email" type="email" placeholder="Email" value="" minLength="2" required />
            <input name="password" type="password"  placeholder="Password"  value="" required />
            <button class="submitform">Submit</button>
        </form>
    </div>

</body>

<html>